* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
--black: #181b26;
--grey:#ebf0f9; 
--lightblue: #c4ccd4;
--lightsteelblue: #3b67ba;
--midnightblue: #121b2d;
--darkgrey: #004d80;
}

body {
    font-family: helvetica, Arial, sans-serif;
    color: var(--midnightblue);
}

/* Header Style Start */
header {
    padding: 20px 35px;
    background-color: var(--darkgrey);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--lightblue);
    margin: 0 0 0 -40px;
    background-color: var(--midnightblue);
    background-size: 20px;
    padding: 5px 1px 5px 50px;
}
    
header a {
    text-decoration: none;
    color: Var(--lightblue);
    
}
    
header nav {
    margin: 7px 0;
}
    
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: bold;
    font-size: 1.55vw;
    border-bottom: 3px solid;
    transition: 0.3s;
}

header nav ul li a:hover {
    background-color: var(--lightblue);
    color: var(--midnightblue);
}

/* Header Style end */

/* Hero Style start */
.hero {
    height: 300px;
    width: 100%;
    background-image: url("../image/portfolio-background.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}

.hero-form {
    position: absolute;
    bottom: 25px;
    right: 50px;
    background-color: var(--lightblue);
    color: var(--midnightblue);
    padding-left: 150px;
    padding-right: 150px;
    
}


.hero-form p {
    margin: 5px 0 15px 0;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

/* Hero Style End */

/* content */
.content {
    background-color: var(--grey);
    background-size: cover;
    background-position: center;
    padding: 15px;
    margin: 0;
    align-items: center;
    width: 100%;
}

.section-title {
    font-size: 40px;
    color: var(--midnightblue);
    margin: 0;
    border-right: 3px solid;
    text-align: right;
    padding-right: 15px;
}

.flex-row {
    display: flex;
    width: 100%;
}

/* About Me Section Style Starts */
.intro, .projects, .contact-me{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
    padding-bottom: 20px;
    flex: 1 0 auto;
    align-items: flex-start;
}
    
.intro img {
    padding-left: 15px;
    width: 300px;
    height: 300px;
}

.intro p {
    line-height: 1.7;
    font-size: 20px;
    text-align: left;
    margin: 1%;
    width: 90%;
}
/* About Me Style Ends */

/* Work Style Starts */
.border-2 {
    padding-left: 15px;
}

.img-grid{
display: grid;
grid-template-columns: repeat(6, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-gap: 20px;
grid-auto-flow: column;
padding-left: 15px;
}

.img-one,.img-two,.img-three,.img-four, .img-five, .img-six{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(75%);
    border: 5px solid var(--lightsteelblue);
}

 .img-one:hover, .img-two:hover,.img-three:hover,.img-four:hover,.img-five:hover, .img-six:hover{
    filter:brightness(100%)
}

.grid-one, .grid-two, .grid-three, .grid-four, .grid-five, .grid-six{
    position: relative;
    display: flex;
    width: 100%;
    margin: 0 auto;

}
.grid-one {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
}

.grid-two {
    grid-column-start:1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}
.grid-three {
    grid-column-start:3;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 2;
}
.grid-four {
    grid-column-start:5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 1;
}
.grid-five {
    grid-column-start:1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 3;
}
.grid-six {
    grid-column-start:5;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 3;
}
.img-text {
    position: absolute;
    background-color: var(--lightsteelblue);
    color: var(--lightblue);
    right: 5px;
    bottom: 5px;
    padding: 10px 15px;
    flex: 1 0 auto;
}

.img-text h4 {
    font-weight: lighter;
}
/* Work Style ends */

/* Contact Style Starts */
.contact-me {
    width:85%;

}
.info nav {
    margin: 0 auto;
    flex: 1;
}

.info nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.info nav ul li a {
    margin: 0 45px;
    font-weight: bold;
    font-size: 1.55vw;
    border-bottom: 3px solid;
}

.info a {
    color: var(--black);
    text-decoration: none;
}

/* Contact section style end */

@media screen and (max-width: 980px) {
.contact-me, .intro, .projects {
    width: 100% ;
}

.intro img {
    width: 200px;
    height: 200px; 
}

.img-grid {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.grid-one {
    grid-column-start:1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
}
    
    .grid-two {
        grid-column-start:1;
        grid-column-end:5;
        grid-row-start: 2;
        grid-row-end: 2;
    }
    .grid-three {
        grid-column-start:3;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 3;
    }
    .grid-four {
        grid-column-start:1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 3;
}
.grid-five {
    grid-column-start:1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4;
}
}
@media screen and (max-width: 768px) {
    .hero-form {
     right:0;
    }

.grid-one {
    grid-column-start:1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 1;
}
    
    .grid-two {
        grid-column-start:1;
        grid-column-end:7;
        grid-row-start: 2;
        grid-row-end: 2;
    }
    .grid-three {
        grid-column-start:1;
        grid-column-end: 7;
        grid-row-start: 3;
        grid-row-end: 3;
    }
    .grid-four {
        grid-column-start:1;
        grid-column-end: 7;
        grid-row-start: 4;
        grid-row-end: 4;
}
.grid-five {
    grid-column-start:1;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 5;
}